#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #2c3e50;
}
#app,html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}